html{
    margin:0px;
    padding: 0px;
    border: 2px black;
}

.container{
    width: 100vw;
    background-color: sandybrown;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
div{
    width:200px;
    height: 50px;
}
#div1{
    background-color: red;
    height: 100px;
}
#div2{
    background-color: yellow;
    height: 150px;
}
#div3{
    background-color: blue;
    height: 200px;

}
#div4{
    background-color: green;
    height: 150px;

}
#div5{
    background-color: purple;
    height: 100px;
}


@media(max-width:900px){
    .container{
        background-color: rgb(192,12, 96);
        height: 100vh;
        width:50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* div{
        height: 50px;
    } */
    #div1{
    background-color: red;
    width: 100px;
}
#div2{
    background-color: yellow;
    width: 150px;
}
#div3{
    background-color: blue;
    width: 200px;

}
#div4{
    background-color: green;
    width: 150px;

}
#div5{
    background-color: purple;
    width: 100px;
}


}