*{
    margin: 0px;
    padding: 0px;
}

div{
    width: 200px;
    height: 200px;
    /* display: inline-block; */
}

#div1{
    background-color: red;
    height: 100px;
}
#div2{
    background-color: blue;
    height: 150px;

}
#div3{
    background-color: green;
    height: 200px;


}
#div4{
    background-color: yellow;
    height: 150px;
}
#div5{
    background-color: violet;
    height: 100px;
}
    /* #div6{
        background-color: teal;
    } */


#outerMostBlock{
    height: 500px;
    width: 500px;
    background-color: brown;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outerBlock{
    height: 250px;
    width: 250px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#innerBlock{
    height: 100px;
    width: 100px;
    background-color: white;
}

@media (max-width:900px){
    .container{
    background-color: rgb(192, 12, 96);
    height: 100vh;
    width: 50vw;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center ;
    /* align-items:center; */
    /* flex-wrap: wrap; */
    }

    #div1{
    background-color: red;
    width: 100px;
}
#div2{
    background-color: blue;
    width: 150px;

}
#div3{
    background-color: green;
    width: 250px;


}
#div4{
    background-color: yellow;
    width: 150px;
}
#div5{
    background-color: violet;
    width: 100px;
}
  
}

@media (min-width: 900px){
    .container{
    background-color: rgb(152, 135, 135);
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content:center;
    align-items:center;
    /* flex-wrap: wrap; */
    /* flex-grow: ; try yourself once*/ 

}
}